<% layout('layouts/boilerPlate') %>
    <div class="widget-content widget-content-area br-6">
        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
            <div class="dt--top-section">
                <div class="row">
                    <div class="col-12 col-sm-6 d-flex justify-content-sm-start justify-content-center">
                        <div class="dataTables_length" id="DataTables_Table_0_length">
                            <h4>App Settings</h4>
                        </div>
                    </div>

                    <div class="col-1"></div>
                      <div class="col-3  filtered-list-search mx-auto">
                        <div class="form-inline my-2 my-lg-0 justify-content-center">
                            <div class="w-100 row">

                                <div class="w-100">
                                    <input type="text" name="searchKeyword" oninput="onChangeSearch()" value="<%=searchKeyword? searchKeyword : ""  %>" class="w-100 form-control product-search br-30 col-7" id="searchText" placeholder="Search...">
                                    <button class="btn btn-primary" type="submit" onclick="onSearch()"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg></button>
                                </div>



                    
                                <script>

                                    async function onChangeSearch(event){
                                        const text = document.getElementById("searchText").value;
                                        if(!text){

                                            return window.location.href = `/super_admin/product/get_all_product_type`
                                        }
                                        // window.location.href = `/super_admin/product/get_all_product_type?searchKeyword=${text}`
                                        // window.history.pushState("","",`/super_admin/product/get_all_product_type?searchKeyword=${text}`)

                                    }

                                    async function onSearch(event) {
                                       
                                        const text = document.getElementById("searchText").value;
                            
                                        window.location.href = `/super_admin/product/get_all_product_type?searchKeyword=${text}`
                              
                                 
                                };
                                </script>
                            </div>
                        </div>
                        <div class="form-group col-md-1">
                            <button class="btn btn-sm btn-primary" data-toggle="modal"
                                data-target="#addbarcategory">Add</button>
                        <!-- __category add__ -->
                        <div wire:ignore.self="" class="modal fade" id="addbarcategory" tabindex="-1"
                            aria-labelledby="addCategoryTitle" style="display: none;" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalCenterTitle">Add App Settings</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                                                height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                class="feather feather-x">
                                                <line x1="18" y1="6" x2="6" y2="18"></line>
                                                   <line x1="6" y1="6" x2="18" y2="18"></line>
                                            </svg>
                                        </button>
                                    </div>

                                    <div class="modal-body">

                                        <div class="form-row mb-4">
                                            <div class="col">
                                                <label>Name</label>
                                                <input type="text" class="form-control" wire:model="name"
                                                    placeholder="Name">

                                            </div>

                                            <div class="col">
                                                <label>Key</label>
                                                <input type="text" class="form-control" wire:model="key"
                                                    placeholder="Key">

                                            </div>
                                        </div>
                                        <div class="form-row mb-4">
                                            <div class="col">
                                                <label>Value</label>
                                                <input type="number" class="form-control" wire:model="value"
                                                    placeholder="Value">

                                            </div>



                                        </div>


                                </div>
                                <div class="modal-footer">

                                    <button class="btn btn-danger" id="addmodalClose" data-dismiss="modal"><i
                                            class="flaticon-cancel-12"></i>Discard</button>
                                    <button wire:click="save" class="btn btn-success">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <tbody>
    <div class="table-responsive">
        <table class="multi-table table table-hover dataTable" style="width: 100%;" id="DataTables_Table_0" role="grid"
            aria-describedby="DataTables_Table_0_info">
            <thead>

                <tr role="row">
                    <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                        aria-sort="ascending" aria-label="#: activate to sort column descending" style="width: 86px;">
                        # </th>
                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                        aria-label="NAME: activate to sort column ascending" style="width: 161px;">NAME</th>
                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                        aria-label="IMAGE: activate to sort column ascending" style="width: 53px;">KEY </th>
                    <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                        aria-sort="ascending" aria-label="#: activate to sort column descending" style="width: 56px;">
                        VALUE</th>
                    <th class="text-center sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                        colspan="1" aria-label="Status: activate to sort column ascending" style="width: 49px;">
                        Status</th>
                    <th class="text-center dt-no-sorting sorting" tabindex="0" aria-controls="DataTables_Table_0"
                        rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending"
                        style="width: 56px;">Action</th>
                </tr>
            </thead>
            <tbody>
                           <% for(product_type of data){ %>
                <tr role="row">
                    <td class="sorting_1 font-weight: bold;"><%=product_type.id %></td>
                <td><%=product_type.name %></td>
                <td><img style="width: 150px;height : 120px" src="<%=product_type.image %>"></td>
                
                 

                <div>
                    <td style="text-align: center; vertical-align: middle;">
                        <div class="custom-control custom-switch">
                                <input <%= product_type.status == "1" ? "checked"  :""  %>  type="checkbox"   class="custom-control-input" name="status" 
                                value="<%=product_type.status %>"  onChange="onToDochange(this)" id=<%=product_type.id %>>
                                <label class="custom-control-label"  for=<%=product_type.id %>></label>
                            
                                <script >
                                   async function onToDochange(event) {
                                    await fetch('/super_admin/product/update_product_type_status', {
                                    method: 'POST',
                                    headers: {
                                        'Accept': 'application/json',
                                        'Content-Type': 'application/json'
                                    },
                                    body: JSON.stringify({"id": event.id , "status" : event.value})
                                    })
                                 
                                    window.location.reload("/super_admin/product/get_all_product_type")
                                };
                                </script>
                         
                        </div>
                    </td>
                </div>
                <td class="text-center" > <button class="btn btn-sm btn-primary" data-toggle="modal"
                    data-target="#editProductType<%= product_type.id %>">edit</button> </td>
            </tr>   

        </table>
    </div>
    <div class="dt--bottom-section d-sm-flex justify-content-sm-between text-center">
        <div class="dt--pages-count  mb-sm-0 mb-3">
            <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing
                page 1 of 2</div>
        </div>
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item disabled">
                    <span class="page-link" style="padding-left: 5px;">Previous</span>
                </li>
                <li class="page-item" style="padding-left: 5px;"><a class="page-link" href="#">1</a></li>
                <li class="page-item active">
                    <span class="page-link">
                        2
                        <span class="sr-only">(current)</span>
                    </span>
                </li>
                <li class="page-item" style="padding-left: 5px;"><a class="page-link" href="#">3</a></li>
                <li class="page-item" style="padding-left: 5px;">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
        <!-- <div class="dt--pagination">
                    <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                        <ul class="pagination">
                            <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a
                                    href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0"
                                    class="page-link"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round"
                                        class="feather feather-arrow-left">
                                        <line x1="19" y1="12" x2="5" y2="12"></line>
                                        <polyline points="12 19 5 12 12 5"></polyline>
                                    </svg></a></li>
                            <li class="paginate_button page-item active"><a href="#" aria-controls="DataTables_Table_0"
                                    data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                            <li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0"
                                    data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
                            <li class="paginate_button page-item next" id="DataTables_Table_0_next"><a href="#"
                                    aria-controls="DataTables_Table_0" data-dt-idx="3" tabindex="0"
                                    class="page-link"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round"
                                        class="feather feather-arrow-right">
                                        <line x1="5" y1="12" x2="19" y2="12"></line>
                                        <polyline points="12 5 19 12 12 19"></polyline>
                                    </svg></a></li>
                        </ul>
                    </div>
                </div> -->
    </div>
    </div>
    <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
        <div class="dt--top-section">
            <div class="row">

            </div>
        </div>
        <div class="table-responsive">
            <table class="multi-table table table-bordered table-hover non-hover dataTable" style="width: 100%;"
                id="DataTables_Table_1" role="grid" aria-describedby="DataTables_Table_1_info">

            </table>
        </div>
    </div>
    </div>
    </div>
    </div>