<% layout('layouts/boilerPlate') %>

    <div class="widget-content widget-content-area br-6">
        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
            <div class="dt--top-section">
                <div class="row">
                    <div class="col-12 col-sm-6 d-flex justify-content-sm-start justify-content-center">
                        <div class="dataTables_length" id="DataTables_Table_0_length">
                            <h4>Approve</h4>
                        </div>
                    </div>

                    <div class="col-2"></div>
                    <div class="form-group col-md-3">
                        <input class="form-control rounded-5 py-2" type="search" value="search"
                            id="example-search-input">

                                <div class="w-100">
                                    <input type="text" name="searchKeyword" oninput="onChangeSearch()" value="<%=searchKeyword? searchKeyword : ""  %>" class="w-100 form-control product-search br-30 col-9" id="searchText" placeholder="Search By Customer id">
                                    <button class="btn btn-primary" type="submit" onclick="onSearch()"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg></button>
                                </div>



                    
                                <script>

                                    async function onChangeSearch(event){
                                        const text = document.getElementById("searchText").value;
                                        if(!text){

                                            return window.location.href = `/super_admin/users_subscription/get_assign_list`
                                        }

                                    }

                                    async function onSearch(event) {
                                       
                                        const text = document.getElementById("searchText").value;
                            
                                        window.location.href = `/super_admin/users_subscription/get_assign_list?searchKeyword=${text}`
                              
                                 
                                };
                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-1">
                        <button class="btn btn-sm" data-toggle="modal" data-target="#addbarcategory">Add</button>
                        <!-- __category add__ -->
                        <div wire:ignore.self="" class="modal fade" id="addbarcategory" tabindex="-1"
                            aria-labelledby="addCategoryTitle" style="display: none;" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalCenterTitle">Add Product</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                                                height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                class="feather feather-x">
                                                <line x1="18" y1="6" x2="6" y2="18"></line>
                                                <line x1="6" y1="6" x2="18" y2="18"></line>
                                            </svg>
                                        </button>
                                    </div>

            </div>
        </div>
        <% if(data.length === 0){ %> 
            <h2>No Subscription Found</h2>
            <% }else if(loading) { %>
                <div class="row">
                    <div class="col-5">
    
                    </div>
                    <div class="col-2">
                        <button class="btn btn-success btn-lg mb-3 mr-3"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-loader spin mr-2"><line x1="12" y1="2" x2="12" y2="6"></line><line x1="12" y1="18" x2="12" y2="22"></line><line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line><line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line><line x1="2" y1="12" x2="6" y2="12"></line><line x1="18" y1="12" x2="22" y2="12"></line><line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line><line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line></svg>  Loading</button>
                    </div>
                </div>
    
                <% } else {  %>
        <div class="table-responsive">
            <table class="table table-bordered table-striped mb-4" style="width: 100%;  font-weight: bold; box-shadow: 8px 5px 5px 0px #aaa;" id="DataTables_Table_0"
                role="grid" aria-describedby="DataTables_Table_0_info">
                <thead >
    
                    <tr role="row"  >
                        <th  class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                            colspan="1" aria-sort="ascending" aria-label="#: activate to sort column descending"
                            style="width: 20px;">#</th>
                        <th  class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                            colspan="1" aria-sort="ascending" aria-label="#: activate to sort column descending"
                            style="width: 20px;">Customer Id</th>
                       
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                            aria-label="NAME: activate to sort column ascending" style="width: 20px;">Subscription Type</th>
                        
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                            aria-label="IMAGE: activate to sort column ascending" style="width: 53px;">Product</th>
                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                            aria-label="IMAGE: activate to sort column ascending" style="width: 10px;">Unit</th>
                            <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                            colspan="1" aria-sort="ascending" aria-label="#: activate to sort column descending"
                            style="width: 50px;"> Assigned Date</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                            aria-label="IMAGE: activate to sort column ascending" style="width: 53px;">Subscription Start Date</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                            aria-label="IMAGE: activate to sort column ascending" style="width: 53px;">Status</th>
                            
                        <th class="text-center dt-no-sorting sorting" tabindex="0"
                            aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                            aria-label="Action: activate to sort column ascending" style="width: 64px;">Action</th>
                    </tr>
                </thead>
                <tbody>
    
                    <tr role="row" >
    
                        <% for(user of data){ %>
                                <td  class="sorting_1"><%=user.id %></td>
                                <td  class="sorting_1"><%=user.customer_id %></td>
                                <td ><%=user.subscription_name %></td>
                                
                                <td ><%=user.product_name %></td>
                                <td><%=user.unit_value %> <%= user.value %> </td>
                                <td><%=user.assigned_date %></td>
                                <td><%=user.subscription_start_date ? user.subscription_start_date : "N/A"   %></td>
                                <td><%=user.subscription_status %></td>

                              
    
                                <div>
                                    
                                    <td  class="text-center" > 
                                        <button style="font-weight: bold;" class="btn  btn-md  btn-info" data-toggle="modal"
                                        data-target="#view<%=user.id %>">view</button>
                                         
                                      
                                    </td>
                                    </td>
                                    
                                </div>
                                
                            </tr>
    
    <!-- view -->
                <div wire:ignore.self="" class="modal fade" id="view<%=user.id %>" tabindex="-1"
                    aria-labelledby="addCategoryTitle"  style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document" > 
                        <div class="modal-content" >
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle">Assigned Subscription Details</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                                        height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                        class="feather feather-x">
                                        <line x1="18" y1="6" x2="6" y2="18"></line>
                                        <line x1="6" y1="6" x2="18" y2="18"></line>
                                    </svg>
                                </button>
                            </div>
    
                            <div class="modal-body" >
                               
                                    <div class="form-row mb-4" >
                                      

                                            </div>
                                            <div class="col-6 ">
                                                <label>Name</label>
                                                <input type="text" class="form-control" wire:model="name"
                                                    placeholder="Name">

                                            </div>
                                            <div class="col-sm-4">
                                                <label> Category Name</label>
                                                <p style="font-weight: 900;"><%=user.category_name %></p>
                                                
                                            </div>
                                            <div class="col-sm-4 ">
                                                <label>Quantity</label>
                                                <p style="font-weight: 900;"><%=user.quantity %></p>
                                                
                                            </div>
                                            <div class="col-sm-6 pb-4">
                                                <label>Address</label>
                                                <p style="font-weight: 900;"><%=user.address %></p>
                                                
                                            </div>
                                            <div class="col-sm-6">
                                                <label>Landmark</label>
                                                <p style="font-weight: 900;"><%=user.landmark %></p>
                                              
                                            </div>
                                            
                                            <div class="col-sm-4">
                                                <label> Start date</label>
                                                <p style="font-weight: 900;"><%=user.start_date %></p>
                                                
                                                
                                            </div>
                                            <div class="col-sm-4">
                                                <label> Assigned Date</label>
                                                <p style="font-weight: 900;"><%=user.assigned_date %></p>
                                                
                                                
                                            </div>
                                            <div class="col-sm-4">
                                                <label>Subscription Start Date</label>
                                                <p style="font-weight: 900;"><%=user.subscription_start_date ? user.subscription_start_date : "N/A"   %></p>
                                            </div>
                                            <div class="col-sm-4 mt-4">
                                                <label>Status</label>
                                                <p style="font-weight: 900;"><%=user.subscription_status %></p>
                                               
                                                
                                            </div>
                                            <div class="col-sm-4 mt-4">
                                                <label>Subscription Type</label>
                                                <p style="font-weight: 900;"><%=user.subscription_name %></p>
                                               
                                                
                                            </div>
                                            
                                            <% if(user.customized_days){ %> 
                                            <div class="col-sm-4 mt-4">
                                                <label>Customized Days</label>
                                                <div class="element-background">
                                                    <ul class="list-icon">
                                                        <% for(day of user.customized_days){ %> 
                                                        <li>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                                                            <span style="font-weight: 900;" class="list-text"><%= day%></span>
                                                        </li>
                                                        <% } %> 
                                                        
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row mb-4">
                                            <div class="col-6  ">
                                                <label>Varaition Type</label>
                                                <select wire:model="countryid" class="form-control">
                                                    <option value="">Select Varaition</option>
                                                    <option value="1">
                                                        ml</option>
                                                    <option value="2">
                                                        liter</option>
                                                    <option value="3">
                                                        gram</option>
                                                </select>

                                            </div>
                                        </div>


                                </div>
                                <div class="modal-footer">

                                    <button class="btn btn-danger" id="addmodalClose" data-dismiss="modal"><i
                                            class="flaticon-cancel-12"></i>Discard</button>
                                    <button wire:click="save" class="btn btn-success">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="table-responsive">
        <table class="multi-table table table-hover dataTable" style="width: 100%;" id="DataTables_Table_0" role="grid"
            aria-describedby="DataTables_Table_0_info">
            <thead>

                <tr role="row">
                    <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                        aria-sort="ascending" aria-label="#: activate to sort column descending" style="width: 86px;">
                        #</th>
                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                        aria-label="NAME: activate to sort column ascending" style="width: 161px;">NAME</th>
                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                        aria-label="IMAGE: activate to sort column ascending" style="width: 53px;">IMAGE</th>
                        <!-- <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                        aria-label="IMAGE: activate to sort column ascending" style="width: 53px;">COUNTRY</th> -->
                    <th class="text-center sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                        colspan="1" aria-label="Status: activate to sort column ascending" style="width: 49px;">
                        Status</th>
                    <th class="text-center dt-no-sorting sorting" tabindex="0" aria-controls="DataTables_Table_0"
                        rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending"
                        style="width: 56px;">Action</th>
                </tr>
            </thead>
            <tbody>

                <tr role="row">
                    <td class="sorting_1">Cedric Kelly</td>
                    <td>Senior Javascript Developer</td>
                    <td>Edinburgh</td>
                    <!-- <td>Edinburgh</td> -->

                    <div>
                        <td style="text-align: center; vertical-align: middle;">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitches">
                                <label class="custom-control-label" for="customSwitches"></label>
                            </div>
                        </td>
                    </div>
                    <td class="text-center"> <button class="btn btn-sm">edit</button> </td>
                </tr>
                <tr role="row">
                    <td class="sorting_1">Dai Rios</td>
                    <td>Personnel Lead</td>
                    <td>Edinburgh</td>
                    <!-- <td>Edinburgh</td> -->

                    <div>
                        <td style="text-align: center; vertical-align: middle;">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitches1">
                                <label class="custom-control-label" for="customSwitches1"></label>
                            </div>
                        </td>
                    </div>
                    <td class="text-center"> <button class="btn btn-sm">edit</button> </td>
                </tr>
                <tr role="row">
                    <td class="sorting_1">Gavin Joyce</td>
                    <td>Developer</td>
                    <td>Edinburgh</td>
                    <!-- <td>Edinburgh</td> -->

                    <div>
                        <td style="text-align: center; vertical-align: middle;">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitches2">
                                <label class="custom-control-label" for="customSwitches2"></label>
                            </div>
                        </td>
                    </div>
                    <td class="text-center"> <button class="btn btn-sm">edit</button> </td>
                </tr>
                <tr role="row">
                    <td class="sorting_1">Jennifer Acosta</td>
                    <td>Junior Javascript Developer</td>
                    <td>Edinburgh</td>
                    <!-- <td>Edinburgh</td> -->

                    <div>
                        <td style="text-align: center; vertical-align: middle;">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitches3">
                                <label class="custom-control-label" for="customSwitches3"></label>
                            </div>
                        </td>
                    </div>
                    <td class="text-center"> <button class="btn btn-sm">edit</button> </td>
                </tr>
                <tr role="row">
                    <td class="sorting_1">Martena Mccray</td>
                    <td>Post-Sales support</td>
                    <td>Edinburgh</td>
                    <!-- <td>Edinburgh</td> -->

                    <div>
                        <td style="text-align: center; vertical-align: middle;">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitches4">
                                <label class="custom-control-label" for="customSwitches4"></label>
                            </div>
                        </td>
                    </div>

                    <td class="text-center"> <button class="btn btn-sm">edit</button> </td>
                </tr>
                <tr role="row">
                    <td class="sorting_1">Quinn Flynn</td>
                    <td>Support Lead</td>
                    <td>Edinburgh</td>
                    <!-- <td>Edinburgh</td> -->

                    <div>
                        <td style="text-align: center; vertical-align: middle;">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitches5">
                                <label class="custom-control-label" for="customSwitches5"></label>
                            </div>
                        </td>
                    </div>
                    <td class="text-center"> <button class="btn btn-sm">edit</button> </td>
                </tr>
                <tr role="row">
                    <td class="sorting_1">Shad Decker</td>
                    <td>Regional Director</td>
                    <td>Edinburgh</td>
                    <!-- <td>Edinburgh</td> -->

                    <div>
                        <td style="text-align: center; vertical-align: middle;">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitches6">
                                <label class="custom-control-label" for="customSwitches6"></label>
                            </div>
                        </td>
                    </div>
                    <td class="text-center"> <button class="btn btn-sm">edit</button> </td>
                </tr>
            </tbody>

        </table>
    </div>
    <div class="dt--bottom-section d-sm-flex justify-content-sm-between text-center">
        <div class="dt--pages-count  mb-sm-0 mb-3">
            <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing
                page 1 of 2</div>
        </div>
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item disabled">
                    <span class="page-link" style="padding-left: 5px;">Previous</span>
                </li>
                <li class="page-item" style="padding-left: 5px;"><a class="page-link" href="#">1</a></li>
                <li class="page-item active">
                    <span class="page-link">
                        2
                        <span class="sr-only">(current)</span>
                    </span>
                </li>
                <li class="page-item" style="padding-left: 5px;"><a class="page-link" href="#">3</a></li>
                <li class="page-item" style="padding-left: 5px;">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
        <!-- <div class="dt--pagination">
                    <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                        <ul class="pagination">
                            <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a
                                    href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0"
                                    class="page-link"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round"
                                        class="feather feather-arrow-left">
                                        <line x1="19" y1="12" x2="5" y2="12"></line>
                                        <polyline points="12 19 5 12 12 5"></polyline>
                                    </svg></a></li>
                            <li class="paginate_button page-item active"><a href="#" aria-controls="DataTables_Table_0"
                                    data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                            <li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0"
                                    data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
                            <li class="paginate_button page-item next" id="DataTables_Table_0_next"><a href="#"
                                    aria-controls="DataTables_Table_0" data-dt-idx="3" tabindex="0"
                                    class="page-link"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round"
                                        class="feather feather-arrow-right">
                                        <line x1="5" y1="12" x2="19" y2="12"></line>
                                        <polyline points="12 5 19 12 12 19"></polyline>
                                    </svg></a></li>
                        </ul>
                    </div>
                </div> -->
    </div>
    </div>
    <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
        <div class="dt--top-section">
            <div class="row">
            </div>
        </div>
        <div class="table-responsive">
            <table class="multi-table table table-bordered table-hover non-hover dataTable" style="width: 100%;"
                id="DataTables_Table_1" role="grid" aria-describedby="DataTables_Table_1_info">

            </table>
        </div>
    </div>
    </div>
    </div>
    </div>