<% layout('layouts/boilerPlate') %>

<div class="layout-px-spacing">
    <div class="page-header">
        <nav class="breadcrumb-one" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <!-- <li class="breadcrumb-item"><a href="javascript:void(0);">Apps</a></li> -->
                <li class="breadcrumb-item"><a href="javascript:void(0);">User Details</a></li>
                <!-- <li class="breadcrumb-item active" aria-current="page"><a href="javascript:void(0);">Preview</a></li> -->
            </ol>
        </nav>
        <a href="/branch_admin/user/branch_user"  style="cursor: pointer;" class="badge badge-info p-2"> Go Back </a>
    </div>
    
    <div class="row invoice  layout-spacing layout-top-spacing">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            
            <div class="doc-container">

                <!-- <form action="/branch_admin/po/create_po" method="post"> -->
                <div class="row">
                    <div class="col-xl-12">

                        <div class="invoice-container">
                            <div class="invoice-inbox">
                                
                                <div id="ct" class="">
                                    
                                    <div class="invoice-00001">
                                        <div class="content-section">

                                            <div class="inv--head-section inv--detail-section">
                                            
                                                <div class="row">
                                                
                                                    <div class="col-sm-6 col-12 mr-auto">
                                                        <div class="d-flex">
                                                            <!-- <p class="inv-to">Invoice</p> -->
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6 text-sm-right">
                                                        <!-- <p class="inv-list-number"><span class="inv-title">Invoice : </span> <span class="inv-number">#0001</span></p> -->
                                                    </div>

                                                    <div class="col-sm-6 align-self-center mt-3">
                                                        <p class="inv-customer-name"><%= user.user_unique_id %> </p>
                                                        <p class="inv-customer-name"><%= user.user_name %> </p>
                                                        <p class="inv-email-address"><%= user.mobile_number %> </p>
                                                        <p class="inv-street-addr"><%= user.address %> </p>
                                                    
                                                    </div>
                                                    <div class="col-sm-6 align-self-center mt-3 text-sm-right">
                                                        <p class="inv-created-date"><span class="inv-title">Route : </span> <span class="inv-date"><%= user.route_name ? user.route_name : "Not Assigned" %> </span></p>
                                                        <span style="cursor: pointer;" onclick="routeChangeHandler()" class="badge badge-secondary"> Change </span>
                                                        <!-- <p class="inv-due-date"><span class="inv-title">Due Date : </span> <span class="inv-date">26 Aug 2020</span></p> -->
                                                    </div>
                                                    <script>
                                                        function routeChangeHandler(){
                                                            window.location.href = "/branch_admin/route/get_route"
                                                        }
                                                    </script>
                                                
                                                </div>
                                                
                                            </div>

                                                            <style>
                                                                input[type=number]::-webkit-inner-spin-button, 
                                                            input[type=number]::-webkit-outer-spin-button { 
                                                                -webkit-appearance: none;
                                                                -moz-appearance: none;
                                                                appearance: none;
                                                                margin: 0; 
                                                            }
                                                            </style>
                                                            
                                            <div class="inv--product-table-section">
                                                <h6 class="ml-2 pb-2" style="font-weight: 900;">Subscription Products : 
                                                    <% if(sub_products.length !== 0){ %>
                                                        <% if(is_subscription_active == 1){ %>
                                                    <span class="badge badge-info"> Live </span>
                                                        <% }else{ %>
                                                            <span class="badge badge-info"> InActive </span>
                                                        <% } %> 
                                                    <% } %> 
                                                </h6>
                                                <% if(sub_products.length === 0){ %>
                                                    <h6 class="pl-5">No Subscription Product Found</h6>
                                                    <% }else{ %>
                                                        <div class="table-responsive">
                                                            <table class="table">
                                                                <thead class="">
                                                                    <tr>
                                                                        <!-- <th class="checkbox-column dt-no-sorting"> Choose</th> -->
                                                                        <th scope="col" >id</th>
                                                                        <th scope="col" >Name</th>
                                                                        <th scope="col">Unit</th>
                                                                        <th class="text-right" scope="col">Price</th>
                                                                        <th class="text-right" scope="col">Qty</th>
                                                                        <th class="text-right" scope="col">Start Date</th>
                                                                        <th class="text-right" scope="col">Subscription Type</th>
                                                                        <th class="text-right" scope="col">Status</th>
                                                                    </tr>
                                                                </thead>  
                                                                <tbody>
                                                                    
                                                                    
                                                                    <% for(sub_product of sub_products){ %>
                                                                        <tr>
                                                                            
                                                                            <td name="name"><%= sub_product.sub_id %></td>
                                                                            <td name="name"><%= sub_product.product_name %></td>
                                                                            <td><%= sub_product.unit_value %> <%= sub_product.value %></td> 
                                                                            <td class="text-right"><%= sub_product.price %></td>
                                                                            <td class="text-right"><%= sub_product.quantity %></td>
                                                                            <td class="text-right"><%= sub_product.start_date %> </td>
                                                                            <td class="text-right"><%= sub_product.sub_name %> </td>
                                                                            <td class="text-right"><%= sub_product.subscription_status %> </td>
                                                                        </tr>
                                                                        <% }  %> 
                                                                        
                                                                        
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <% } %>   
                                                        </div>
                                                        
                                                        

                                            <div class="inv--product-table-section">
                                                <h6 class="ml-2 pb-2" style="font-weight: 900;">Add On Products : 
                                                    <% if(add_on.length !== 0){ %>
                                                        <% if(is_add_on_active == 1){ %>
                                                    <span class="badge badge-info"> Live </span>
                                                        <% }else{ %>
                                                            <span class="badge badge-info"> InActive </span>
                                                        <% } %> 
                                                    <% } %> 
                                                
                                                </h6>
                                                <% if(add_on.length === 0){ %>
                                                    <h6 class="pl-5">No Add On Product Found</h6>
                                                    <% }else{ %>
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead class="">
                                                            <tr>
                                                                <!-- <th class="checkbox-column dt-no-sorting"> Choose</th> -->
                                                                <th scope="col" >Id</th>
                                                                <th scope="col">delivery date</th>
                                                                <th class="text-right" scope="col">total Products</th>
                                                                <th class="text-right" scope="col">Sub total</th>
                                                                <th class="text-right" scope="col">status</th>
                                                                <th class="text-right" scope="col">action</th>
                                                            </tr>
                                                        </thead>  
                                                        <tbody>



                                                            <% for(add_on_products of add_on){ %>
                                                                
                                                                <tr>

                                                                    <td><%= add_on_products.id %></td>
                                                                    <td><%= add_on_products.delivery_date %></td> 
                                                                    <td class="text-right"><%= add_on_products.add_on_products.length %></td>
                                                                    <td class="text-right"><%= add_on_products.sub_total %></td>
                                                                    <td class="text-right"><%= add_on_products.status %></td>
                                                                   
                                                                    <td class="text-right">   <button class="btn mb-2 btn-md  btn-secondary" data-toggle="modal"
                                                                        data-target="#view<%=add_on_products.id %>">View</button></td>
                                                                </tr>
                                                                
                                                          
                                                 




                                            <!-- view -->
                                            <div wire:ignore.self="" class="modal fade" id="view<%=add_on_products.id %>" tabindex="-1"
                                                aria-labelledby="addCategoryTitle"  style="display: none;" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered modal-lg" role="document" > 
                                                    <div class="modal-content" >
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalCenterTitle">Product Details</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                                                                    height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                                    class="feather feather-x">
                                                                    <line x1="18" y1="6" x2="6" y2="18"></line>
                                                                    <line x1="6" y1="6" x2="18" y2="18"></line>
                                                                </svg>
                                                            </button>
                                                        </div>
                                
                                                        <div class="modal-body" >
                                                           

                                                          
                                                            <!-- <div class="col-4" ></div> -->
                                                            <div class="col-4" style="font-weight: 600;font-size: 16px; ">
                                                                <div class="row">
                                                                    <div class="col-12">
                                                                        Delivery Date :<span style="color: rgb(77, 76, 76);"> <%= add_on_products.delivery_date %> </span>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        Sub Total : <span style="color: rgb(77, 76, 76);"><%= add_on_products.sub_total %></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">

                                                                <% for(add_ons of add_on_products.add_on_products){ %>
                                                                    
                                                                    <div style="border-width:0 ;" class="card component-card_4 col-6 text-center">
                                                                        <div class="card-body ">
                                                                            <div class="user-profile ">
                                                                                <img style="width: 117px;height: 117px;" src="<%= add_ons.image %> " class="" alt="...">
                                                                            </div>
                                                                            <div class="user-info ">
                                                                                <h5 class="card-user_name pt-2"> <%= add_ons.product_name %> </h5>
                                                                                <p class="card-user_occupation"> <%=add_ons.unit_value %> <%=add_ons.value %> / Qty : <%=add_ons.quantity %></p>
                                                                                <p class="card-user_occupation">Price : ₹<%=add_ons.price %></p>
                                                                                <p class="card-user_occupation">Total Price : ₹<%=add_ons.total_price %></p>
                                                                                <p class="card-user_occupation">Status : <%=add_ons.status %></p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    
                                                                    <% } %> 
                                                                </div>
                                                              </div>
                                                                </div>
                                                            </div>
                                                                
                                                        </div>
<!--                                                                 
                                                                <div class="modal-footer">
                                                                    
                                                                    <button type="button" name="id" value="<%=add_on_products.id %>" class="btn btn-danger" id="addmodalClose" data-dismiss="modal"><i
                                                                        class="flaticon-cancel-12"></i>Discard</button>
                                                                        
                                                                </div> -->
                                                       
                                                                <% }  %> 
                                                                <% }  %> 
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                       

                                            <div class="inv--note">

                                                <div class="row mt-4">
                                                    <div class="col-sm-12 col-12 order-sm-0 order-1">
                                                        <p>Note: Thank you for doing Business with us.</p>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div> 
                                    
                                </div>


                            </div>

                        </div>

                    </div>
                    <!-- <div class="col-xl-3">

                        <div class="invoice-actions-btn">

                            <div class="invoice-action-btn">

                            -->
                     

                                <!-- <div class="row">
                                  
                                     <div class="col-xl-12 col-md-3 col-sm-6">
                                        <a href="javascript:void(0);" class="btn btn-secondary btn-print  action-print">Print</a>
                                    </div> 
                                     <div class="col-xl-12 col-md-3 col-sm-6">
                                        <a href="javascript:void(0);" class="btn btn-info btn-download">Download</a>
                                    </div>  -->
                                    <!-- <div class="col-xl-12 col-md-3 col-sm-6">
                                        <a href="apps_invoice-edit.html" class="btn btn-dark btn-edit">Edit</a>
                                    </div> --> 
                                </div> 
                            </div>
                            
                        </div>
                        
                    </div> -->

                    
                    </div>


                    
                </form>

                </div>
                
                
            </div>

        </div>
    </div>
    
</div>